<ion-content padding class="login">
    <ion-grid>
        <ion-row padding-top>
            <img src="assets/img/logo.png">
        </ion-row>
        <ion-row>
            <ion-col>
                <p text-center class="header">Log In</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-md-8 offset-md-2>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                    <p *ngIf="formErrors.non_field_errors.length > 0 || errors">
                        <ion-icon name="alert" color="danger" margin-right></ion-icon>
                        <span *ngFor="let error of formErrors.non_field_errors" class="form-error" text-center>
                            {{ error }}
                        </span>
                    </p>
                    <ion-item no-padding>
                        <ion-label stacked>Email Address</ion-label>
                        <ion-input type="email" [formControl]="form.controls['email']"></ion-input>
                    </ion-item>
                    <span class="form-error" *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched && !form.controls['email'].dirty">{{ validationMessages.email.required }}</span>
                    <div *ngIf="formErrors.email">
                        <div *ngFor="let error of formErrors.email">
                            <span class="form-error">{{ error }}</span>
                        </div>
                    </div>
                    <ion-item no-padding>
                        <ion-label stacked>Password</ion-label>
                        <ion-input type="password" [formControl]="form.controls['password']"></ion-input>
                    </ion-item>
                    <span class="form-error" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched && !form.controls['password'].dirty">{{ validationMessages.password.required }}</span>
                    <div *ngIf="formErrors.password">
                        <div *ngFor="let error of formErrors.password">
                            <span class="form-error">{{ error }}</span>
                        </div>
                    </div>
                    <p text-right class="help-text" (click)="onPasswordResetClick()">Forgot password</p>
                    <button ion-button block>Log In</button>
                </form>
                <button ion-button icon-left block color="linkedin">
                    <ion-icon name="logo-linkedin" padding-right></ion-icon>
                    Log In With LinkedIn
                </button>
                <p text-center text-uppercase padding-top (click)="onSignUpClick()">Don't have an account? <strong>Sign Up</strong></p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
