<form [formGroup]="form">
    <ion-item-group>
        <ion-item>
            <ion-label stacked>About</ion-label>
            <ion-textarea formControlName="about"></ion-textarea>
        </ion-item>
        <div *ngIf="formErrors.about">
            <div *ngFor="let error of formErrors.about">
                <span class="form-error">{{ error }}</span>
            </div>
        </div>
        <ion-item>
            <tags-input formControlName="tags"
                maxWordLength="15"
                buttonLabel="Add Tag"
                alertTitleLabel="Add Tag"
                (onTagAdded)="onTagAdded($event)"
                (onTagRemoved)="onTagRemoved($event)">
            </tags-input>
        </ion-item>
    </ion-item-group>
</form>
