<div *ngIf="profile">
    <form [formGroup]="profileForm">
        <ion-list>
            <ion-item>
                <ion-label stacked>First Name</ion-label>
                <ion-input type="text" formControlName="first_name"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.first_name">
                <div *ngFor="let error of formErrors.first_name">
                    <span class="form-error">{{ error }}</span>
                </div>
            </div>
            <ion-item>
                <ion-label stacked>Last Name</ion-label>
                <ion-input type="text" formControlName="last_name"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.last_name">
                <div *ngFor="let error of formErrors.last_name">
                    <span class="form-error">{{ error }}</span>
                </div>
            </div>
            <ion-item>
                <ion-label stacked>Title</ion-label>
                <ion-input type="text" formControlName="title"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.title">
                <div *ngFor="let error of formErrors.title">
                    <span class="form-error">{{ error }}</span>
                </div>
            </div>
            <ion-item *ngIf="isUserProfile">
                <ion-label stacked>Summary</ion-label>
                <ion-textarea formControlName="summary"></ion-textarea>
            </ion-item>
            <div *ngIf="formErrors.summary">
                <div *ngFor="let error of formErrors.summary">
                    <span class="form-error">{{ error }}</span>
                </div>
            </div>
            <ion-item>
                <ion-label stacked>Industry</ion-label>
                <ion-input type="text" formControlName="industry"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.industry">
                <div *ngFor="let error of formErrors.industry">
                    <span class="form-error">{{ error }}</span>
                </div>
            </div>
            <ion-item>
                <ion-label stacked>Company</ion-label>
                <ion-input type="text" formControlName="company"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.company">
                <div *ngFor="let error of formErrors.company">
                    <span class="form-error">{{ error }}</span>
                </div>
            </div>
            <ion-item>
                <ion-label stacked>Location</ion-label>
                <ion-input type="text" formControlName="location"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.location">
                <div *ngFor="let error of formErrors.location">
                    <span class="form-error">{{ error }}</span>
                </div>
            </div>
            <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.location">
                <div *ngFor="let error of formErrors.location">
                    <span class="form-error">{{ error }}</span>
                </div>
            </div>
            <ion-item>
                <ion-label stacked>Phone Number</ion-label>
                <ion-input type="text" formControlName="phone_number"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.phone_number">
                <div *ngFor="let error of formErrors.phone_number">
                    <span class="form-error">{{ error }}</span>
                </div>
            </div>
            <ion-item>
                <ion-label stacked>Website</ion-label>
                <ion-input type="text" formControlName="website"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.website">
                <div *ngFor="let error of formErrors.website">
                    <span class="form-error">{{ error }}</span>
                </div>
            </div>
            <ion-item>
                <ion-label stacked>Linkedin</ion-label>
                <ion-input type="text" formControlName="linkedin"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.linkedin">
                <div *ngFor="let error of formErrors.linkedin">
                    <span class="form-error">{{ error }}</span>
                </div>
            </div>
            <ion-item>
                <ion-label stacked>Twitter</ion-label>
                <ion-input type="text" formControlName="twitter"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.twitter">
                <div *ngFor="let error of formErrors.twitter">
                    <span class="form-error">{{ error }}</span>
                </div>
            </div>
            <ion-item>
                <ion-label stacked>Github</ion-label>
                <ion-input type="text" formControlName="github"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.github">
                <div *ngFor="let error of formErrors.github">
                    <span class="form-error">{{ error }}</span>
                </div>
            </div>
            <ion-item>
                <ion-label stacked>Facebook</ion-label>
                <ion-input type="text" formControlName="facebook"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.facebook">
                <div *ngFor="let error of formErrors.facebook">
                    <span class="form-error">{{ error }}</span>
                </div>
            </div>
            <ion-item>
                <ion-label stacked>Youtube</ion-label>
                <ion-input type="text" formControlName="youtube"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.youtube">
                <div *ngFor="let error of formErrors.youtube">
                    <span class="form-error">{{ error }}</span>
                </div>
            </div>
            <ion-item>
                <ion-label stacked>Instagram</ion-label>
                <ion-input type="text" formControlName="instagram"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.instagram">
                <div *ngFor="let error of formErrors.instagram">
                    <span class="form-error">{{ error }}</span>
                </div>
            </div>
        </ion-list>
    </form>
</div>
