<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Settings</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="user-settings">
    <ion-item-group>
        <ion-item-divider>Account</ion-item-divider>
        <ion-item (click)="onAccountInformationClick()">
            <ion-icon name="contact" color="secondary" item-left></ion-icon>
            Account Information
        </ion-item>
        <ion-item (click)="onChangePasswordClick()">
            <ion-icon name="lock" color="secondary" item-left></ion-icon>
            Change Password
        </ion-item>
        <ion-item-divider>Social Connections</ion-item-divider>
        <ion-item (click)="onLinkedInClick()">
            <ion-icon *ngIf="!isLoggedInWithLinkedIn" name="logo-linkedin" color="grey" item-left></ion-icon>
            <ion-icon *ngIf="isLoggedInWithLinkedIn" name="logo-linkedin" color="secondary" item-left></ion-icon>
            LinkedIn
            <ion-icon *ngIf="!isLoggedInWithLinkedIn" color="faintgrey" name="link" item-right></ion-icon>
            <ion-icon *ngIf="isLoggedInWithLinkedIn" color="primary" name="link" item-right></ion-icon>
        </ion-item>
        <ion-item-divider>Support</ion-item-divider>
        <ion-item>
            <ion-icon name="bug" color="secondary" item-left></ion-icon>
            Report a Problem
        </ion-item>
    </ion-item-group>

    <button ion-button full color="danger" (click)="onLogoutClick()" class="logout-button">Log Out</button>
</ion-content>
