<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button (click)="goBack()" ion-button icon-only class="back-button bar-button bar-button-default show-back-button">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>View Contact</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="onDeleteClick()">
                <ion-icon name="trash"></ion-icon>
            </button>
            <button ion-button icon-only (click)="onSaveClick()" *ngIf="contact.profile_read_only">
                <ion-icon name="checkmark"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="permissions">
        <contact-permissions-form [permissions]="permissions" (onChanged)="onChanged($event)"></contact-permissions-form>
    </div>
</ion-content>
