<!--<ion-header>
    <ion-navbar>
        <ion-title>Sign Up</ion-title>
    </ion-navbar>
</ion-header>
-->
<ion-content padding class="sign-up">
    <ion-icon name="close" color="faintgrey" (click)="onCloseClick()"></ion-icon>
    <ion-grid>
        <ion-row>
            <img src="assets/img/logo.png"><br>
        </ion-row>
        <ion-row>
            <ion-col>
            <p text-center class="header">Sign Up</p>
        </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-8 push-2>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                    <p *ngIf="errors" ion-text color="danger" text-center>
                        <ion-icon name="alert" color="danger" margin-right></ion-icon>
                        {{ errors }}
                    </p>
                    <ion-item no-padding>
                        <ion-label stacked>Professional Email Address</ion-label>
                        <ion-input type="email" [formControl]="form.controls['email']"></ion-input>
                    </ion-item>
                    <div *ngIf="formErrors.email">
                        <div *ngFor="let error of formErrors.email">
                            <span class="form-error">{{ error }}</span>
                        </div>
                    </div>
                    <ion-item no-padding>
                        <ion-label stacked>Password</ion-label>
                        <ion-input type="password" [formControl]="form.controls['password']"></ion-input>
                    </ion-item>
                    <div *ngIf="formErrors.password">
                        <div *ngFor="let error of formErrors.password">
                            <span class="form-error">{{ error }}</span>
                        </div>
                    </div>
                    <ion-item>
                        <ion-label stacked>Full Name</ion-label>
                        <ion-input type="text" [formControl]="form.controls['name']"></ion-input>
                    </ion-item>
                    <div *ngIf="formErrors.name">
                        <div *ngFor="let error of formErrors.name">
                            <span class="form-error">{{ error }}</span>
                        </div>
                    </div>
                    <button ion-button block>Sign Up</button>
                </form>
                <p class="help-text" text-uppercase text-center>Or</p>
                <button ion-button icon-left block color="linkedin">
                    <ion-icon name="logo-linkedin" padding-right></ion-icon>
                    Sign Up With LinkedIn
                </button>

                <p text-center text-uppercase padding-top (click)="onLogInClick()">Have an account? <strong>Log In</strong></p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
