<ion-header>

    <ion-navbar>
        <ion-title>View Group</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="group">
        <ion-list>
            <ion-item *ngFor="let contact of group.contacts" (click)="onContactSelect(contact)">
                <ion-avatar item-left>
                    <img src="img/profile/{{ contact.profile.picture }}">
                </ion-avatar>
                <h2>{{ contact.profile.name }}</h2>
                <h3>{{ contact.profile.title }}</h3>
                <p>{{ contact.profile.location }}</p>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
