// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

form .item-md, form .item-ios {
    padding-left: 0;
}

.toolbar-background{
    //color: color($colors, primary);
    //background-color: #FFF;
}

.ion-title {
    //color: color($colors, primary);
}

$navbar-md-color: color($colors, primary);

.form-error {
    color: color($colors, danger);
}

.help-text {
    color: color($colors, grey);
}

.image-center {
    margin: auto;
    display: block;
}

.menu-avatar-header {
    background: color($colors, primary);
    color: white;
}

.profile-picture {
    width: 155px !important;
    height: 155px !important;
    background: color($colors, faintgrey);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    ion-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 55%;
        transform: translate(-50%, -50%);
        font-size: 5.2em;
        color: color($colors, grey);
    }
}

.empty-list-message {
    margin-top: 150px;
    text-align: center;
}

// this is for the tag inputs since they don't work if a label is inside the same ion-item
.tag-input-label {
    .item-inner {
        border-bottom: none !important;
    }
}

@import '../pages/login/login.scss';
@import '../pages/sign-up/sign-up.scss';
@import '../pages/user-settings/user-settings.scss';
