<ion-menu [content]="content">
    <ion-content>
        <ion-list>
            <ion-item class="menu-avatar-header">
                <ion-avatar (click)="openPage(profilePage)" menuClose>
                    <div *ngIf="!picture" class="image-center profile-picture">
                        <ion-icon name="person"></ion-icon>
                    </div>
                    <img *ngIf="picture" src="{{ picture }}" class="image-center profile-picture">
                    <h2 text-center padding-top>Edit My Profile</h2>
                </ion-avatar>
            </ion-item>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                {{ p.title }}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
