<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons left>
            <ion-item style="background: transparent;" [hidden]="showSearch">
                <!-- Pop up doesn't have a title because of this; way around that? -->
                <ion-label></ion-label>
                <ion-select [(ngModel)]="group" (ionChange)="filterByGroup(group)" style="max-width: 100%; padding-left: 0;">
                    <ion-option selected="true" value="-2">All Contacts</ion-option>
                    <ion-option *ngFor="let group of groups" value="{{ group.id }}">{{ group.name }}</ion-option>
                </ion-select>
            </ion-item>
        </ion-buttons>
        <ion-title [hidden]="showSearch">ContactList</ion-title>
        <ion-searchbar (input)="filterContacts($event)" [hidden]="!showSearch" [showCancelButton]="true" (ionClear)="resetContacts()" (ionCancel)="clearSearch()" placeholder="Filter Contacts"></ion-searchbar>
        <ion-buttons end>
            <button ion-button icon-only (click)="toggleSearch()" [hidden]="showSearch">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="contact-list">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item *ngFor="let contact of filteredContacts" (click)="onContactSelect(contact)">
            <ion-avatar item-left>
                <img src="assets/img/profile/default-avatar.png">
            </ion-avatar>
            <h2>{{ contact.profile.name }}</h2>
            <h3>{{ contact.profile.company }}</h3>
            <p>{{ contact.profile.title }}</p>
        </ion-item>
    </ion-list>
    <ion-fab right bottom>
        <button ion-fab (click)="onPersonAddClick()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
