<ion-header>
    <ion-navbar>
        <ion-title>Select Group Contacts</ion-title>
        <ion-buttons end>
            <button ion-button clear (click)="save()">
                SAVE
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <!--
        Can't use virtual scroll list since it currently doesn't update the view of the checkbox -_-
    -->
    <ion-list>
        <ion-item *ngFor="let contact of contacts">
            <ion-checkbox [(ngModel)]="contact.selected" item-left></ion-checkbox>
            <ion-thumbnail *ngIf="contact.profile.avatar" item-left>
                <ion-img [src]="contact.profile.avatar"></ion-img>
            </ion-thumbnail>
            <ng2-letter-avatar *ngIf="!contact.profile.avatar"
                [avatar-data]="getAvatarData(contact.profile.first_name, contact.profile.last_name)"
                avatar-char-count="2"
                avatar-custom-bg-color="white"
                avatar-border="true"
                avatar-custom-border="border:3px solid #4fbfa6"
                avatar-text-color="#4fbfa6"
                avatar-font-family="Roboto, 'Helvetica Neue', sans-serif"
                avatar-height="80px"
                avatar-width="80px"
                dynamic="true"
                item-left>
            </ng2-letter-avatar>
            <ion-label>
                <h2>{{ contact.profile.first_name }} {{ contact.profile.last_name }}</h2>
                <h3>{{ contact.profile.company }}</h3>
                <p>{{ contact.profile.title }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
