<ion-header>
    <ion-navbar>
        <ion-title>Change Password</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <p *ngIf="errors" ion-text color="danger" text-center>
            <ion-icon name="alert" color="danger" margin-right></ion-icon>
            {{ errors }}
        </p>
        <ion-item>
            <ion-label stacked>Current Password</ion-label>
            <ion-input type="password" formControlName="old_password"></ion-input>
        </ion-item>
        <div *ngIf="formErrors.old_password">
            <div *ngFor="let error of formErrors.old_password">
                <span class="form-error">{{ error }}</span>
            </div>
        </div>
        <ion-item>
            <ion-label stacked>New Password</ion-label>
            <ion-input type="password" formControlName="new_password1"></ion-input>
        </ion-item>
        <div *ngIf="formErrors.new_password1">
            <div *ngFor="let error of formErrors.new_password1">
                <span class="form-error">{{ error }}</span>
            </div>
        </div>
        <ion-item>
            <ion-label stacked>New Password Confirmation</ion-label>
            <ion-input type="password" formControlName="new_password2"></ion-input>
        </ion-item>
        <div *ngIf="formErrors.new_password2">
            <div *ngFor="let error of formErrors.new_password2">
                <span class="form-error">{{ error }}</span>
            </div>
        </div>
        <button ion-button block margin-top>Change Password</button>
    </form>
</ion-content>
